*{
    margin: 0;
    padding: 0;
   
}

/* estilizar o nac da classe menu*/
.menu{
    
    width: 100%;
    height: 55px;
    background-color: rgb(209, 27, 27);
    font-family: Arial, Helvetica, sans-serif;
}   
/* estilizar as lsitas ul e li*/
.menu ul{
    list-style: none;
    position: relative;
   
}
.menu ul li{
    width: 150px;
    float : right;
}
.menu a{
    padding: 15px;
    display: block;
    text-decoration: none;
    text-align: center;
    background-color:  rgb(209, 27, 27);
    color: #fff;
}
.menu ul ul{
    position: absolute;
    visibility: hidden;
}
.menu ul li:hover ul{
    visibility: visible;
}
.menu a:hover{
    background-color: #f37272;
    color:#fff;
}
.menu ul ul li{
    float: none;
    border: bottom 1px solid #ccc;
}
.menu ul ul li a{
    background-color:rgb(153, 0, 0);
}

.menu ul img{
    width: 80px;
    height: 55px;
}
content{
    width:100%;
    padding: 20px;
}
content .txt{
    width: 50%;
    float:left;
    text-align:center;
    font-family: "Sofia", sans-serif;
}
content .txt button{
   margin-top: -70px; 
   border-radius: 50px;;
}
content .txt h2{
    font-size: 80px;
    padding:40px;
    text-align:center;
    font-family: "Sofia", sans-serif;
}

content .lasanha{
    width: 50%;
    float:left;
    
}
content .lasanha:hover{
    scale: 1.1;
   transition: all line 0.5;
   transform: rotate(3deg);
   filter: drop-shadow(30px 10px 4px rgb(209, 27, 27));
}
content .txt button{
    background-color:rgb(209, 27, 27);
}

section{
    width: 100%;
}

section .texto{
    width: 60%;
    float: left;
    text-align: center;
    padding: 20px;
    font-family: "Sofia", sans-serif;
}
section .texto h3{
    margin-left: 20px;
    font-family: "Sofia", sans-serif;   
}

section .horario li{
    display: block;
    text-decoration: none;
    text-align: center;
    font-family: "Sofia", sans-serif;
}
section .horario {
    width: 40%;
    border: 1px solid red;
    display: block;
  text-decoration: none;
  text-align: center;
  float: left;
  border-radius: 50px;
  padding:10px; 
  font-family: "Sofia", sans-serif;
}
footer{
    width: 100%;
    height:200px;
    background-color: rgb(209, 27, 27);
    float: left;
    border-radius: 10px;
}
footer .cadas{
    width: 20%;
    float: left;
    margin-top: 45px;
    text-align: center;  
    font-family: "Sofia", sans-serif;
    color: #fff;

    
}
footer .cadas button{  
    border-radius: 50px;
    font-family: "Sofia", sans-serif;
    background-color: #fff;
    color: rgb(209, 27, 27);
    margin-top:15px;
    }

footer iframe {
    width: 80%;
}